[submodule "contrib/crglLib"]
	path = contrib/crglLib
	url = https://github.com/CristianoBeato/crglLib
[submodule "contrib/SDL3PlusPlus"]
	path = contrib/SDL3PlusPlus
	url = https://github.com/CristianoBeato/SDL3PlusPlus
[submodule "contrib/compressonator"]
	path = contrib/compressonator
	url = https://github.com/GPUOpen-Tools/compressonator
[submodule "contrib/glm"]
	path = contrib/glm
	url = https://github.com/g-truc/glm
